<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889387788149-hampk3pvj35gj6tm4099lm5bl56o5dds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889387788149-hampk3pvj35gj6tm4099lm5bl56o5dds</string>
	<key>API_KEY</key>
	<string>AIzaSyAzIqB2V-1V13_Tzsx9bf9zvjvvHQTjGQU</string>
	<key>GCM_SENDER_ID</key>
	<string>889387788149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UWE.SustainAble</string>
	<key>PROJECT_ID</key>
	<string>sustainable-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainable-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889387788149:ios:e93c297970deefceca553c</string>
	<key>DATABASE_URL</key>
	<string>https://sustainable-backend-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>